@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["This side helps with organising photos"]</h3>

<p>Organise photos by catagory. Each photo can be in more then one category</p>
