@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Contact the developer for sugestions or problems."]</h3>

<address>
    1 800 Bowcroft Pl<br />
    Cochrane, AB T4C 1B9<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:erikvanpolanen@live.ca">Support</a><br />
</address>
